@model Files.Models.Category

@{
    ViewBag.Title = "Add New Category";
}

<h2>Add New Category</h2>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label for="CategoryName">Category Name</label>
        <input type="text" id="CategoryName" name="CategoryName" class="form-control" asp-for="CategoryName" />
        <span asp-validation-for="CategoryName" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Add Category</button>
    <a asp-action="Index" class="btn btn-warning">Cancel</a>
</form>
