@{
    ViewBag.Title = ViewBag.Title ?? "Reservation Canceled";
}

<h2>@ViewBag.Title</h2>
<p>@ViewBag.Message</p>
<p>Reservation ID: <strong>@ViewBag.ReservationId</strong></p>


<a asp-controller="Home" asp-action="Index">Go Back to Home</a>
