@model Files.Models.RegisterViewModel

@{
    ViewBag.Title = "Hire Admin";
}

<h2>@ViewBag.Title</h2>

@Html.ValidationSummary(true, "", new { @class = "text-danger" })

<form asp-action="HireAdmin" method="post">
    <div class="form-group">
        <label asp-for="Email" class="control-label"></label>
        <input type="email" class="form-control" asp-for="Email" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="PhoneNumber" class="control-label"></label>
        <input type="text" class="form-control" asp-for="PhoneNumber" />
        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="FirstName" class="control-label"></label>
        <input type="text" class="form-control" asp-for="FirstName" />
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="LastName" class="control-label"></label>
        <input type="text" class="form-control" asp-for="LastName" />
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Address" class="control-label"></label>
        <input type="text" class="form-control" asp-for="Address" />
        <span asp-validation-for="Address" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="DOB" class="control-label"></label>
        <input type="date" class="form-control" asp-for="DOB" />
        <span asp-validation-for="DOB" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Password" class="control-label"></label>
        <input type="password" class="form-control" asp-for="Password" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="ConfirmPassword" class="control-label"></label>
        <input type="password" class="form-control" asp-for="ConfirmPassword" />
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Hire</button>
    <a asp-action="Index" class="btn btn-warning">Cancel</a>
</form>
