@using Microsoft.AspNetCore.Identity
@model IEnumerable<RoleEditModel>

@{
    ViewBag.Title = "Roles";
}

<h2>Roles</h2>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Roles</h3>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Users</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @if (!Model.Any())
            {
                <tr>
                    <td colspan="4" class="text-center">No roles available</td>
                </tr>
            }
            else
            {
                foreach (var role in Model)
                {
                    <tr>
                        <td>@role.Role.Id</td>
                        <td>@role.Role.Name</td>
                        <td>
                            @if (role.RoleMembers == null || !role.RoleMembers.Any())
                            {
                                <span>No users in role</span>
                            }
                            else
                            {
                                <p>@string.Join(", ", role.RoleMembers.Select(user => user.Email))</p>
                            }
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@role.Role.Id" class="btn btn-primary">Edit</a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

<a asp-action="Create" class="btn btn-primary">Create New Role</a>
